.layout-topbar {
  display: flex;
  align-items: center;
  background-color: #161d21;
  padding: 1rem 1rem;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .layout-topbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;

    img {
      height: 2rem;
      margin-right: 0.5rem;
    }

    span {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .layout-topbar-icons {
    display: flex;
    align-items: center; /* Butonları dikey olarak merkezlemek için */
    justify-content: flex-end; /* Butonları sağa hizalamak için */
    width: 100%; /* Butonların sağa kayması için gerekli genişlik */
    margin-right: 1rem;
    
    .layout-menu-button,
    .layout-topbar-button {
      padding: 0.6em 1.2em;
      transition: border-color 0.25s;
      background: none;
      border: none;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;



      &:hover {
        color: #ddd;
        border-color: #646cff;
      }

      &:focus {
        outline: none;
        outline: 4px auto -webkit-focus-ring-color;
      }
    }
  }
}

// Responsive design
@media (max-width: 768px) {
  .layout-topbar {
    flex-direction: row;
    justify-content: space-between;

    .layout-menu-buttons {
      .layout-menu-button,
      .layout-topbar-button {
        margin-left: 0.5rem;
        font-size: 1.25rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .layout-topbar {
    .layout-topbar-logo {
      img {
        height: 1.5rem;
      }

      span {
        font-size: 1rem;
      }
    }

    .layout-menu-buttons {
      .layout-menu-button,
      .layout-topbar-button {
        font-size: 1.25rem;
      }
    }
  }
}
